# OpenAI
OPENAI_API_KEY=
OPENAI_ORGANIZATION=

# Antropic
ANTHROPIC_API_KEY=

# Google
GOOGLE_APPLICATION_CREDENTIALS=./credentials.json
GOOGLE_TOKEN=./google_token.json

# Google GenAI
GOOGLE_API_KEY=

# Perplexity
PPLX_API_KEY=

# IBM Cloud
IBM_CLOUD_API_KEY=
IBM_CLOUD_QISKIT_INSTANCE=

# Output of `vault operator init -key-shares=5 -key-threshold=3` command:
# (Except .env.gke, it has a separate secret)
VAULT_TOKEN=
VAULT_UNSEAL_KEYS=key1,key2,key3,key4,key5

# Stripe
STRIPE_ENABLE=false
STRIPE_SECRET_KEY=

# XMPP
XMPP_PASSWORD=a-geNt-$sec-ret-10m_pp
